body{
    overflow: auto;
}
.container-2{
    height: 300vh;
    background-image: linear-gradient(to bottom,blue,white,red,green,yellow,pink,lightblue);
    width: 100px;
    position: sticky;
    left: 0;
}
.container{
    width: 100vw;
    position: fixed;
    top: 40px;
    z-index: 10;
    text-align: center;
}
.container-3{
    width: 200vw;
    background-image: linear-gradient(to left,blue,white,red,green,yellow,pink,lightblue);
    height: 100px;
    position: sticky;
    bottom: 0;
}